<!doctype html>

<head>
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="{{ url_for('static', filename='issues.css') }}" 
    />

<title>Project Issues from {{repo}} </title>

<h1> Open Issues from {{repo}} </h1>

<ul>
{% for issue in issues %}
<li>{{issue.number}} <a href="{{issue.url}}"> {{issue.title}} </a> </li>
{% endfor %}
</ul>

<div class="prevnext">
{% if page_info.has_previous_page is true %}
<a href="/{{owner}}/{{repo}}?cursor={{page_info.start_cursor}}&prev=True">Prev</a>
|
{% endif %}

{% if  page_info.has_next_page is true %}
<a href="/{{owner}}/{{repo}}?cursor={{page_info.end_cursor}}">Next</a>
{% endif %}
</div>
